html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    background-color: #000;	
    cursor: url("slang.ani"), default;
}

p{
    color: rgb(240, 240, 240);
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
}
